body {
  max-width: 540px;
  min-width: 320px;
  margin: 0 auto;
  font: normal 14px/1.5 Tahoma, 'Lucida Grande', Verdana, 'Microsoft Yahei', STXihei, hei;
  background: #f2f2f2;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  height: 2000px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  box-sizing: border-box;
  text-decoration: none;
  color: #222;
}

div {
  box-sizing: border-box;
}

h2 {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.search {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 44px;
  min-width: 320px;
  max-width: 540px;
  background-color: #fff;
  padding-bottom: 3px;
  border-bottom: #aaaa 1px solid;
}

.search-bar {
  display: flex;
  align-items: center;
  height: 26px;
  flex: 1;
  color: #777878;
  background-color: #fff;
  margin-left: 10px;
  border: #777878 1px solid;
  border-radius: 5px;
  box-shadow: -4px 1px 5px -1px rgb(0 0 0 / 20%);
  cursor: pointer;
}

.search-bar::before {
  content: '';
  display: block;
  width: 13px;
  height: 13px;
  margin: 0 5px 0 8px;
  background: url(../images/sprite.png) no-repeat -60px -280px;
  background-size: 104px auto;
}

.my-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
  width: 44px;
  height: 44px;
  font-size: 12px;
  color: #57a8db;
  cursor: pointer;
}

.my-info::before {
  content: '';
  display: block;
  margin-top: 5px;
  width: 23px;
  height: 23px;
  background: url(../images/sprite.png) no-repeat -59px -194px;
  background-size: 104px auto;
}

.focus {
  padding-top: 44px;
}

.focus img {
  width: 100%;
}

.local-nav {
  display: flex;
  height: 64px;
  background-color: #fff;
  margin: 3px 4px;
  border-radius: 8px;
}

.local-nav li {
  flex: 1;
}

.local-nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  font-size: 12px;
}

.local-nav li [class^='icon-local'] {
  width: 32px;
  height: 32px;
  background: url(../images/localnav_bg.png) no-repeat -0 -0;
  background-size: 32px;
}

.local-nav li .icon-local-2 {
  background-position: 0 -32px;
}

.local-nav li .icon-local-3 {
  background-position: 0 -64px;
}

.local-nav li .icon-local-4 {
  background-position: 0 -96px;
}

.local-nav li .icon-local-5 {
  background-position: 0 -128px;
}

nav {
  overflow: hidden;
  margin: 5px;
  border-radius: 5px;
  font-size: 13px;
  color: #fffeff;
}

.nav-common {
  display: flex;
  height: 88px;
  background-color: pink;
}

.nav-common:nth-child(1) {
  background: -webkit-linear-gradient(left, #e85d50, #ec924d);
}

.nav-common:nth-child(2) {
  margin: 2px 0;
  background: -webkit-linear-gradient(top left, #5c8de6, #6ebae7);
}

.nav-common:nth-child(3) {
  background: -webkit-linear-gradient(left, #63c0aa, #87d368);
}

.nav-items {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.nav-items:nth-child(-n + 2) {
  border-right: 1px #fff solid;
}

.nav-items a {
  flex: 1;
  text-align: center;
  line-height: 44px;
  color: #fff;
  text-shadow: 1px 1px rgb(0 0 0 / 20%);
}

.nav-items a:nth-child(2) {
  border-top: 1px solid #fff;
}

.nav-items:nth-child(1) {
  background: url(../images/hotel.png) no-repeat bottom center;
  background-size: 121px auto;
}

.subnav {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  height: 116px;
  margin: 4px;
  border-radius: 8px;
  font-size: 12px;
}

.subnav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 20%;
  background-color: #fff;
  /* border: #222 1px solid; */
  /* background-color: pink; */
  cursor: pointer;
}

.sub-img {
  width: 22px;
  height: 22px;
  background: url(../images/subnav-bg.png);
  background-size: 24px auto;
}

.subnav-items:nth-child(2) .sub-img {
  background-position: 0 -25px;
}

.subnav-items:nth-child(3) .sub-img {
  background-position: 0 -54px;
}

.subnav-items:nth-child(4) .sub-img {
  background-position: 0 -275px;
}

.subnav-items:nth-child(5) .sub-img {
  background-position: 0 -85px;
}

.subnav-items:nth-child(6) .sub-img {
  background-position: 0 -140px;
}

.subnav-items:nth-child(7) .sub-img {
  background-position: 0 -170px;
}

.subnav-items:nth-child(8) .sub-img {
  background-position: 0 -115px;
}

.subnav-items:nth-child(9) .sub-img {
  background-position: 0 -197px;
}

.subnav-items:nth-child(10) .sub-img {
  background-position: 0 -250px;
}

.sales-activity {
}

.sales-activity-top {
  position: relative;
  height: 40px;
  background-color: #fff;
  border-bottom: #f2f1f2 1px solid;
}

.sales-activity-top h2 {
  position: relative;
  text-indent: -999px;
}

.sales-activity-top h2::after {
  content: '';
  display: block;
  position: absolute;
  top: 13px;
  left: 16px;
  width: 73px;
  height: 15px;
  background: url(../images/hot.png) no-repeat 0 -20px;
  background-size: 79px auto;
}

.sales-activity-top a {
  position: absolute;
  top: 8px;
  right: 8px;
  line-height: 20px;
  font-size: 12px;
  padding: 1px 20px 1px 15px;
  color: #fff;
  border-radius: 12px;
  background: -webkit-linear-gradient(left, #eb5d69, #ef84cc);
}

.sales-activity-top a::after {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  right: 9px;
  width: 7px;
  height: 7px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}

.body-rows {
  display: flex;
}
.body-rows a {
  flex: 1;
  border-bottom: #f1f2f2 1px solid;
}

.body-rows a:nth-child(2) {
  border-left: #f1f2f2 1px solid;
}

.body-rows a img {
  vertical-align: top;
  width: 100%;
}
